.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.square{
    position: relative;
    top: -140px;
    left: 550px;
    width: 800px;
    height: 10px;
    background-color:white;
}
.img{
    position: relative;
    top: -450px;
    left:-100px;
}
.square2{
    position: relative;
    top: -673px;
    left: -7px;
    width: 1920px;
    height: 40px;
    background-color:white;
    font-size:25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    overflow: hidden;
}