div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.square{
    position: relative;
    top: -140px;
    left: 550px;
    width: 800px;
    height: 10px;
    background-color:white;
}
.buttonl{
    position: relative;
    top: -100px;
    left:700px;
    background-color:white;
    height: 55px;
    width: 220px;
    border-radius: 50px;
    font-size:30px;
    font-family:Impact;
    color: #298CD6;
}
.buttonr{
    position: relative;
    top:-155px;
    left:1000px;
    background-color:white;
    height: 55px;
    width: 230px;
    border-radius: 50px;
    font-size:30px;
    font-family:Impact;
    color: #298CD6;
}
.button2e{
    position: relative;
    top: -120px;
    left: 800px;
    background-color:#B65454;
    height: 60px;
    width: 310px;
    border-radius: 50px;
    font-size:30px;
    font-family:Impact;
    color:white;
}
.img{
    position: relative;
    top: -450px;
    left:-100px;
}
.square2{
    position: relative;
    top: -1387.5px;
    left: -7px;
    width: 1902px;
    height: 40px;
    background-color:white;
    font-size:25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}