.square{
    position: relative;
    top: -40px;
    left: 680px;
    height: 425px;
    width: 500px;
    background-color: #36393e;
    border-radius: 50px;
}
.p1{
    color: white;
    position: relative;
    top: -435px;
    left:825px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.p2{
    color: white;
    position: relative;
    top: -375px;
    left:870px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
body{
    overflow: hidden;
}